{
  "start_link": "https://www.dicoding.com/academies/256/tutorials/13832",
  "laravel_session": "--your laravel_session cookie--"
  "chrome_path": "C:\\Program Files\\Google\\Chrome\\Application\\chrome.exe"
}
